In [1]:
import pandas as pd

In [4]:
mydata=pd.read_csv("data/iris.csv")

In [5]:
mydata

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2         se
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
mydata.shape

(150, 5)

In [7]:
mydata.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [8]:
mydata.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [9]:
mydata=pd.read_csv('data/iris.csv',header=1)

In [10]:
mydata

     5.1  3.5  1.4  0.2         se
0    4.9  3.0  1.4  0.2     setosa
1    4.7  3.2  1.3  0.2     setosa
2    4.6  3.1  1.5  0.2     setosa
3    5.0  3.6  1.4  0.2     setosa
4    5.4  3.9  1.7  0.4     setosa
..   ...  ...  ...  ...        ...
144  6.7  3.0  5.2  2.3  virginica
145  6.3  2.5  5.0  1.9  virginica
146  6.5  3.0  5.2  2.0  virginica
147  6.2  3.4  5.4  2.3  virginica
148  5.9  3.0  5.1  1.8  virginica

[149 rows x 5 columns]

In [12]:
mydata=pd.read_csv("data/iris.csv",skiprows=1,names=['sep_len','sep_width','pet_len','pet_width','sps'])

In [13]:
mydata

     sep_len  sep_width  pet_len  pet_width        sps
0        5.1        3.5      1.4        0.2         se
1        4.9        3.0      1.4        0.2     setosa
2        4.7        3.2      1.3        0.2     setosa
3        4.6        3.1      1.5        0.2     setosa
4        5.0        3.6      1.4        0.2     setosa
..       ...        ...      ...        ...        ...
145      6.7        3.0      5.2        2.3  virginica
146      6.3        2.5      5.0        1.9  virginica
147      6.5        3.0      5.2        2.0  virginica
148      6.2        3.4      5.4        2.3  virginica
149      5.9        3.0      5.1        1.8  virginica

[150 rows x 5 columns]

In [14]:
mydata=pd.read_csv("data/iris.csv",skiprows=[2,3])

In [15]:
mydata

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2         se
1             4.6          3.1           1.5          0.2     setosa
2             5.0          3.6           1.4          0.2     setosa
3             5.4          3.9           1.7          0.4     setosa
4             4.6          3.4           1.4          0.3     setosa
..            ...          ...           ...          ...        ...
143           6.7          3.0           5.2          2.3  virginica
144           6.3          2.5           5.0          1.9  virginica
145           6.5          3.0           5.2          2.0  virginica
146           6.2          3.4           5.4          2.3  virginica
147           5.9          3.0           5.1          1.8  virginica

[148 rows x 5 columns]

In [16]:
mydata=pd.read_csv('data/iris.csv',header=None)

In [17]:
mydata

                0            1             2            3          4
0    sepal_length  sepal_width  petal_length  petal_width    species
1             5.1          3.5           1.4          0.2         se
2             4.9            3           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7            3           5.2          2.3  virginica
147           6.3          2.5             5          1.9  virginica
148           6.5            3           5.2            2  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9            3           5.1          1.8  virginica

[151 rows x 5 columns]

In [18]:
mydata=pd.read_csv('data/iris.csv',header=None,prefix="var")

In [19]:
mydata

             var0         var1          var2         var3       var4
0    sepal_length  sepal_width  petal_length  petal_width    species
1             5.1          3.5           1.4          0.2         se
2             4.9            3           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7            3           5.2          2.3  virginica
147           6.3          2.5             5          1.9  virginica
148           6.5            3           5.2            2  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9            3           5.1          1.8  virginica

[151 rows x 5 columns]

In [20]:
mydata=pd.read_csv("data/iris.csv",na_values=['.'])

In [21]:
mydata

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2         se
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [58]:
mydata = pd.read_csv("http://winterolympicsmedals.com/medals.csv")

In [59]:
mydata

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [62]:
mydata=pd.read_csv("http://winterolympicsmedals.com/medals.csv",skipfooter=5)

In [63]:
mydata

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2301,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
2302,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
2303,2006,Turin,Skiing,Freestyle Ski.,USA,moguls,M,Bronze
2304,2006,Turin,Skiing,Snowboard,USA,Giant parallel slalom,W,Bronze
2305,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold

In [64]:
mydata=pd.read_csv("http://winterolympicsmedals.com/medals.csv",nrows=5)

In [65]:
mydata

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [74]:
mydata=pd.read_csv("http://winterolympicsmedals.com/medals.csv",thousands=",")

In [75]:
mydata

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [76]:
mydata=pd.read_csv("http://winterolympicsmedals.com/medals.csv",usecols=[1,5,7])

In [77]:
mydata

          City            Event   Medal
0     Chamonix       individual  Silver
1     Chamonix       individual    Gold
2     Chamonix            pairs    Gold
3     Chamonix         four-man  Bronze
4     Chamonix       ice hockey    Gold
...        ...              ...     ...
2306     Turin        Half-pipe  Silver
2307     Turin        Half-pipe    Gold
2308     Turin        Half-pipe  Silver
2309     Turin  Snowboard Cross    Gold
2310     Turin  Snowboard Cross  Silver

[2311 rows x 3 columns]

In [78]:
mydata=pd.read_csv("http://winterolympicsmedals.com/medals.csv",usecols=[1,5],nrows=4)

In [79]:
mydata

       City       Event
0  Chamonix  individual
1  Chamonix  individual
2  Chamonix       pairs
3  Chamonix    four-man

In [80]:
mydata=pd.read_csv('data/iris.csv',sep=';')

In [81]:
mydata

    sepal_length,sepal_width,petal_length,petal_width,species
0                                   5.1,3.5,1.4,0.2,se
1                                 4.9,3,1.4,0.2,setosa
2                               4.7,3.2,1.3,0.2,setosa
3                               4.6,3.1,1.5,0.2,setosa
4                                 5,3.6,1.4,0.2,setosa
..                                                 ...
145                            6.7,3,5.2,2.3,virginica
146                            6.3,2.5,5,1.9,virginica
147                              6.5,3,5.2,2,virginica
148                          6.2,3.4,5.4,2.3,virginica
149                            5.9,3,5.1,1.8,virginica

[150 rows x 1 columns]

In [82]:
mydata=pd.read_csv("http://winterolympicsmedals.com/medals.csv",sep=';')

In [83]:
mydata

     Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0     1924,Chamonix,Skating,Figure skating,AUT,indiv...
1     1924,Chamonix,Skating,Figure skating,AUT,indiv...
2     1924,Chamonix,Skating,Figure skating,AUT,pairs...
3     1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man...
4     1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice ho...
...                                                 ...
2306  2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Si...
2307   2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308  2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Si...
2309  2006,Turin,Skiing,Snowboard,USA,Snowboard Cros...
2310  2006,Turin,Skiing,Snowboard,USA,Snowboard Cros...

[2311 rows x 1 columns]

In [90]:
mydata=pd.read_csv('data/iris.csv',dtype={'sepal_length':'float64'})

In [91]:
mydata.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [93]:
mydf=pd.read_csv('data/iris.csv',verbose='True')

Tokenization took: 0.08 ms
Type conversion took: 0.60 ms
Parser memory cleanup took: 0.01 ms

In [94]:
mydf

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2         se
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [99]:
import csv
with open("data/iris.csv") as f:
  d = csv.DictReader(f)
  l=list(d)

In [102]:
l

[OrderedDict([('sepal_length', '5.1'),
              ('sepal_width', '3.5'),
              ('petal_length', '1.4'),
              ('petal_width', '0.2'),
              ('species', 'se')]),
 OrderedDict([('sepal_length', '4.9'),
              ('sepal_width', '3'),
              ('petal_length', '1.4'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.7'),
              ('sepal_width', '3.2'),
              ('petal_length', '1.3'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.6'),
              ('sepal_width', '3.1'),
              ('petal_length', '1.5'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5'),
              ('sepal_width', '3.6'),
              ('petal_length', '1.4'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.4'),
              ('sepal_width', '3.9'),
              ('petal_length', '1.7'),
              ('petal_width', '0.4'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.6'),
              ('sepal_width', '3.4'),
              ('petal_length', '1.4'),
              ('petal_width', '0.3'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5'),
              ('sepal_width', '3.4'),
              ('petal_length', '1.5'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.4'),
              ('sepal_width', '2.9'),
              ('petal_length', '1.4'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.9'),
              ('sepal_width', '3.1'),
              ('petal_length', '1.5'),
              ('petal_width', '0.1'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.4'),
              ('sepal_width', '3.7'),
              ('petal_length', '1.5'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.8'),
              ('sepal_width', '3.4'),
              ('petal_length', '1.6'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.8'),
              ('sepal_width', '3'),
              ('petal_length', '1.4'),
              ('petal_width', '0.1'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.3'),
              ('sepal_width', '3'),
              ('petal_length', '1.1'),
              ('petal_width', '0.1'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.8'),
              ('sepal_width', '4'),
              ('petal_length', '1.2'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.7'),
              ('sepal_width', '4.4'),
              ('petal_length', '1.5'),
              ('petal_width', '0.4'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.4'),
              ('sepal_width', '3.9'),
              ('petal_length', '1.3'),
              ('petal_width', '0.4'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.1'),
              ('sepal_width', '3.5'),
              ('petal_length', '1.4'),
              ('petal_width', '0.3'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.7'),
              ('sepal_width', '3.8'),
              ('petal_length', '1.7'),
              ('petal_width', '0.3'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.1'),
              ('sepal_width', '3.8'),
              ('petal_length', '1.5'),
              ('petal_width', '0.3'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.4'),
              ('sepal_width', '3.4'),
              ('petal_length', '1.7'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.1'),
              ('sepal_width', '3.7'),
              ('petal_length', '1.5'),
              ('petal_width', '0.4'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.6'),
              ('sepal_width', '3.6'),
              ('petal_length', '1'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.1'),
              ('sepal_width', '3.3'),
              ('petal_length', '1.7'),
              ('petal_width', '0.5'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.8'),
              ('sepal_width', '3.4'),
              ('petal_length', '1.9'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5'),
              ('sepal_width', '3'),
              ('petal_length', '1.6'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5'),
              ('sepal_width', '3.4'),
              ('petal_length', '1.6'),
              ('petal_width', '0.4'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.2'),
              ('sepal_width', '3.5'),
              ('petal_length', '1.5'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.2'),
              ('sepal_width', '3.4'),
              ('petal_length', '1.4'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.7'),
              ('sepal_width', '3.2'),
              ('petal_length', '1.6'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.8'),
              ('sepal_width', '3.1'),
              ('petal_length', '1.6'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.4'),
              ('sepal_width', '3.4'),
              ('petal_length', '1.5'),
              ('petal_width', '0.4'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.2'),
              ('sepal_width', '4.1'),
              ('petal_length', '1.5'),
              ('petal_width', '0.1'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.5'),
              ('sepal_width', '4.2'),
              ('petal_length', '1.4'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.9'),
              ('sepal_width', '3.1'),
              ('petal_length', '1.5'),
              ('petal_width', '0.1'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5'),
              ('sepal_width', '3.2'),
              ('petal_length', '1.2'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.5'),
              ('sepal_width', '3.5'),
              ('petal_length', '1.3'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.9'),
              ('sepal_width', '3.1'),
              ('petal_length', '1.5'),
              ('petal_width', '0.1'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.4'),
              ('sepal_width', '3'),
              ('petal_length', '1.3'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.1'),
              ('sepal_width', '3.4'),
              ('petal_length', '1.5'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5'),
              ('sepal_width', '3.5'),
              ('petal_length', '1.3'),
              ('petal_width', '0.3'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.5'),
              ('sepal_width', '2.3'),
              ('petal_length', '1.3'),
              ('petal_width', '0.3'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.4'),
              ('sepal_width', '3.2'),
              ('petal_length', '1.3'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5'),
              ('sepal_width', '3.5'),
              ('petal_length', '1.6'),
              ('petal_width', '0.6'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.1'),
              ('sepal_width', '3.8'),
              ('petal_length', '1.9'),
              ('petal_width', '0.4'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.8'),
              ('sepal_width', '3'),
              ('petal_length', '1.4'),
              ('petal_width', '0.3'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.1'),
              ('sepal_width', '3.8'),
              ('petal_length', '1.6'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '4.6'),
              ('sepal_width', '3.2'),
              ('petal_length', '1.4'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5.3'),
              ('sepal_width', '3.7'),
              ('petal_length', '1.5'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '5'),
              ('sepal_width', '3.3'),
              ('petal_length', '1.4'),
              ('petal_width', '0.2'),
              ('species', 'setosa')]),
 OrderedDict([('sepal_length', '7'),
              ('sepal_width', '3.2'),
              ('petal_length', '4.7'),
              ('petal_width', '1.4'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.4'),
              ('sepal_width', '3.2'),
              ('petal_length', '4.5'),
              ('petal_width', '1.5'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.9'),
              ('sepal_width', '3.1'),
              ('petal_length', '4.9'),
              ('petal_width', '1.5'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.5'),
              ('sepal_width', '2.3'),
              ('petal_length', '4'),
              ('petal_width', '1.3'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.5'),
              ('sepal_width', '2.8'),
              ('petal_length', '4.6'),
              ('petal_width', '1.5'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.7'),
              ('sepal_width', '2.8'),
              ('petal_length', '4.5'),
              ('petal_width', '1.3'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.3'),
              ('sepal_width', '3.3'),
              ('petal_length', '4.7'),
              ('petal_width', '1.6'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '4.9'),
              ('sepal_width', '2.4'),
              ('petal_length', '3.3'),
              ('petal_width', '1'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.6'),
              ('sepal_width', '2.9'),
              ('petal_length', '4.6'),
              ('petal_width', '1.3'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.2'),
              ('sepal_width', '2.7'),
              ('petal_length', '3.9'),
              ('petal_width', '1.4'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5'),
              ('sepal_width', '2'),
              ('petal_length', '3.5'),
              ('petal_width', '1'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.9'),
              ('sepal_width', '3'),
              ('petal_length', '4.2'),
              ('petal_width', '1.5'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6'),
              ('sepal_width', '2.2'),
              ('petal_length', '4'),
              ('petal_width', '1'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.1'),
              ('sepal_width', '2.9'),
              ('petal_length', '4.7'),
              ('petal_width', '1.4'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.6'),
              ('sepal_width', '2.9'),
              ('petal_length', '3.6'),
              ('petal_width', '1.3'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.7'),
              ('sepal_width', '3.1'),
              ('petal_length', '4.4'),
              ('petal_width', '1.4'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.6'),
              ('sepal_width', '3'),
              ('petal_length', '4.5'),
              ('petal_width', '1.5'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.8'),
              ('sepal_width', '2.7'),
              ('petal_length', '4.1'),
              ('petal_width', '1'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.2'),
              ('sepal_width', '2.2'),
              ('petal_length', '4.5'),
              ('petal_width', '1.5'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.6'),
              ('sepal_width', '2.5'),
              ('petal_length', '3.9'),
              ('petal_width', '1.1'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.9'),
              ('sepal_width', '3.2'),
              ('petal_length', '4.8'),
              ('petal_width', '1.8'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.1'),
              ('sepal_width', '2.8'),
              ('petal_length', '4'),
              ('petal_width', '1.3'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.3'),
              ('sepal_width', '2.5'),
              ('petal_length', '4.9'),
              ('petal_width', '1.5'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.1'),
              ('sepal_width', '2.8'),
              ('petal_length', '4.7'),
              ('petal_width', '1.2'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.4'),
              ('sepal_width', '2.9'),
              ('petal_length', '4.3'),
              ('petal_width', '1.3'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.6'),
              ('sepal_width', '3'),
              ('petal_length', '4.4'),
              ('petal_width', '1.4'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.8'),
              ('sepal_width', '2.8'),
              ('petal_length', '4.8'),
              ('petal_width', '1.4'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.7'),
              ('sepal_width', '3'),
              ('petal_length', '5'),
              ('petal_width', '1.7'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6'),
              ('sepal_width', '2.9'),
              ('petal_length', '4.5'),
              ('petal_width', '1.5'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.7'),
              ('sepal_width', '2.6'),
              ('petal_length', '3.5'),
              ('petal_width', '1'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.5'),
              ('sepal_width', '2.4'),
              ('petal_length', '3.8'),
              ('petal_width', '1.1'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.5'),
              ('sepal_width', '2.4'),
              ('petal_length', '3.7'),
              ('petal_width', '1'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.8'),
              ('sepal_width', '2.7'),
              ('petal_length', '3.9'),
              ('petal_width', '1.2'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6'),
              ('sepal_width', '2.7'),
              ('petal_length', '5.1'),
              ('petal_width', '1.6'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.4'),
              ('sepal_width', '3'),
              ('petal_length', '4.5'),
              ('petal_width', '1.5'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6'),
              ('sepal_width', '3.4'),
              ('petal_length', '4.5'),
              ('petal_width', '1.6'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.7'),
              ('sepal_width', '3.1'),
              ('petal_length', '4.7'),
              ('petal_width', '1.5'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.3'),
              ('sepal_width', '2.3'),
              ('petal_length', '4.4'),
              ('petal_width', '1.3'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.6'),
              ('sepal_width', '3'),
              ('petal_length', '4.1'),
              ('petal_width', '1.3'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.5'),
              ('sepal_width', '2.5'),
              ('petal_length', '4'),
              ('petal_width', '1.3'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.5'),
              ('sepal_width', '2.6'),
              ('petal_length', '4.4'),
              ('petal_width', '1.2'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.1'),
              ('sepal_width', '3'),
              ('petal_length', '4.6'),
              ('petal_width', '1.4'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.8'),
              ('sepal_width', '2.6'),
              ('petal_length', '4'),
              ('petal_width', '1.2'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5'),
              ('sepal_width', '2.3'),
              ('petal_length', '3.3'),
              ('petal_width', '1'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.6'),
              ('sepal_width', '2.7'),
              ('petal_length', '4.2'),
              ('petal_width', '1.3'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.7'),
              ('sepal_width', '3'),
              ('petal_length', '4.2'),
              ('petal_width', '1.2'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.7'),
              ('sepal_width', '2.9'),
              ('petal_length', '4.2'),
              ('petal_width', '1.3'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.2'),
              ('sepal_width', '2.9'),
              ('petal_length', '4.3'),
              ('petal_width', '1.3'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.1'),
              ('sepal_width', '2.5'),
              ('petal_length', '3'),
              ('petal_width', '1.1'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '5.7'),
              ('sepal_width', '2.8'),
              ('petal_length', '4.1'),
              ('petal_width', '1.3'),
              ('species', 'versicolor')]),
 OrderedDict([('sepal_length', '6.3'),
              ('sepal_width', '3.3'),
              ('petal_length', '6'),
              ('petal_width', '2.5'),
              ('species', 'virginica')]),
 OrderedDict([('sepal_length', '5.8'),
              ('sepal_width', '2.7'),
              ('petal_length', '5.1'),
              ('petal_width', '1.9'),
              ('species', 'virginica')]),
 OrderedDict([('sepal_length', '7.1'),
              ('sepal_width', '3'),
              ('petal_length', '5.9'),
              ('petal_width', '2.1'),
              ('species', 'virginica')]),